#card-data {
    font-size: 1px;
    margin: 2px 40px 0 60px;
  }
  
.data-card {
    background-color: rgb(252, 252, 252);
    border-radius: 6px;
    margin-top: 18px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 25px 10px;
  }
  .space {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .dashboard-background2 {
    background-color: #5555;
    padding: 0 40px;
    /* overflow-y: auto+30px; */
    height: 100%;
  }
  #card-title {
    font-size: 30px;
    text-align: center;
  }
  #card-sub-title2 {
    font-size: 12px;
    text-align: center;
  }
  .card-deck2 {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
  }
  .align {
    text-align: center;
    background-color:rgb(41, 46, 51);
    color:white;
    margin: 0%;
  }
  .container2 {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 25%;
    background-color: rgba(49, 48, 48, 0.829);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .pink{
      color: rgb(185, 69, 69);
  }

  .row.dashboard-background2{
    margin: 0;
  }