.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.data-card {
  margin-right: 5px;
  margin-left: 5px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background: linear-gradient(
    180deg,
    rgba(39, 39, 39, 0.5976) 0%,
    rgba(29, 29, 29, 0.83) 100%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

#btn-login{
  padding: 10px 40px;
  font-weight: 800;
  font-size: 16px;
}

#nav-logo{
  width: 150px;
}

#logo {
  max-width: 75%;
  padding: 15px;
}

body {
  font-family: "Open sans", "sans-serif";
}