.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.data-card {
  margin-right: 5px;
  margin-left: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  align-items: stretch;

  background: linear-gradient(
    180deg,
    rgba(39, 39, 39, 0.5976) 0%,
    rgba(29, 29, 29, 0.83) 100%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  padding: 0 60px;
}

.nav-links {
  display: flex;
  align-items: baseline;
}

.nav-link {
  color: white; 
  height: 100%;
  padding-top: 38px;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}

.nav-link:hover{
  color: white;
  background-color: #CB2E2D;
}

.nav-btn-login {
  padding: 10px 40px;
  font-weight: 800;
  font-size: 16px;
  background-color: #CB2E2D;
  color: white;
  border: none;
  margin-left: 20px;
}

#nav-logo {
  width: 150px;
}

#logo {
  max-width: 75%;
  padding: 15px;
}

body {
  font-family: "Open sans", "sans-serif";
}
